.jS.kl,
#pagelet_ego_pane,
.fbChatSidebar,
.friendBrowserListUnit,
.homeSideNav:not(:first-child),
#accountListTable tr:nth-child(2),
#accountListTable tr:last-child,
#accountListTable tr:nth-last-child(1)
center iframe {
	display: none;
}

#accountListTable tr:nth-child(3) {
	background: #f3f3f3;	
}
.noredirect {
	font-size: 18px;
}
